<div class="discover-container">

  <div>
    <div class="title-text mt-5">
      Discover the magic of our  surprise box
    </div>
    <div class="subtitle-text mt-3">
      Unleash your child's curiosity with our educational subscription box filled with fun and learning.
    </div>

    <div>
      <button class="subscribe-button w-180 mt-3" routerLink="/subscribe">
        Subscribe Now

      </button>
    </div>
    <div class="mt-5">
      <img class="w-900" src="/assets/images/placeholder-image.png" alt="">
    </div>
  </div>

</div>
