.discover-container{
  text-align: center;
  padding: 30px;
  background-color: #ab95f9;

  .title-text{
    font-size: 56px;
    max-width: 750px;
    font-weight: 900;
    margin: auto;
    color: white;
  }

  .subtitle-text{
    font-size: 28px;
    max-width: 800px;
    margin: auto;
    color: white;
  }
}


.w-900{
  width: 900px;
}
