<div class="bg-img">
  <div class="bg-color">

    <div class="p-5">

      <div>Discover</div>

      <div class="title-text mt-3">
        How it Works: Subscribe and Receive Your Surprise Box
      </div>

      <div class="subtitle-text mt-3">
        Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box filled with educational materials tailored to your child's age and interests.
      </div>

      <div class="step-grid mt-3">
        <div class="step-item">
          <div>
            <img class="step-img" src="/assets/images/subscribe.png" alt="">
          </div>
          <div class="step-title">
            <div>Step 1:</div>
            <div>Subscribe</div>
          </div>
          <div class="step-desc">
            <div>
              Select a subscription plan that suits your child's learning
              needs and preferences.
            </div>
          </div>
        </div>
        <div class="step-item">
          <div>
            <img class="step-img" src="/assets/images/personalise.png" alt="">
          </div>
          <div class="step-title">
            <div>Step 2:</div>
            <div>Personilse Your Box</div>
          </div>
          <div class="step-desc">
            <div>
              Select a subscription plan that suits your child's learning
              needs and preferences.
            </div>
          </div>
        </div>
        <div class="step-item">
          <div>
            <img class="step-img" src="/assets/images/surprise.png" alt="">
          </div>
          <div class="step-title">
            <div>Step 3:</div>
            <div>Receive Your Surprise Box</div>
          </div>
          <div class="step-desc">
            <div>
              Select a subscription plan that suits your child's learning
              needs and preferences.
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="mt-5">
          <button routerLink="/subscribe" class="subscribe-button w-180">Subscribe Now</button>
        </div>
      </div>

    </div>

  </div>

</div>
